@import url('https://fonts.googleapis.com/css2?family=Inter');

body{
    box-sizing: border-box;
    padding: 20px;
    height: 98vh;
    background:  #1E1E1E;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 29px;
}
.outer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
    box-sizing: border-box;
}

.input{
    height: 37.6vh;
    width:40%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 20px;
    justify-content: space-between;
}

.output{
    height: 56.4vh;
    overflow: auto;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.output::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.bookName, .issuedTo, .issueBtn, .outer .input h1{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 50px;
}

.issueBtn{
    box-sizing: border-box;

}

.outer .input h1{
    margin: 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 58px;
    font-family: 'Inter';
    flex: 0.15 auto;
}


.outer .input form{
    flex: 0.85 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.labels{
    width: 25%;
}

.inputBox{
    width: 75%;
}

#bName, #issTo{
    width: 99.4%;
    height: 50px;
    border: 1px solid #FFFFFF;
    background-color: #1E1E1E;
    box-sizing: border-box;
}

#issBtn{
    width: 100%;
    height: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 29px;
    background-color: #FFFFFF;
    color: #1E1E1E;
}

#issBtn:hover{
    background-color: aqua;
}

th{
    border-bottom: 1px solid #FFFFFF;
    border-collapse: collapse;
    border-right: 1px solid #FFFFFF;
    height: 25px;
}

th, td{
    padding-top: 15px;
    padding-bottom: 15px;
}

td{
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #FFFFFF;
    height: 35px
}


table{
    width: 100%;
    border: 1px solid #FFFFFF;
    border-collapse: collapse;
}

input:focus {
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 29px;
    padding-left: 15px;
    padding-right: 15px;
}

#bName:read-write, #issTo:read-write {
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 29px;
    padding-left: 15px;
    padding-right: 15px;
}

.lastCell{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
}

/*  */
<<<<<<< HEAD
=======


>>>>>>> 1609b81b252df071f74c0f7de312eadec044a42d


